* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    outline: none;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(59, 130, 246, .5);
  }

  h3 {
    padding-top: 15px;
    border-bottom: inset;
    padding-bottom: 100%px;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .principal {
    border-radius: 5px;
    background-color: rgb(251, 252, 253);
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .entrada-saida {
    display: flex;
    padding: 10px 0;
    gap: 20px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .entrada-saida > div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 45%;
  }

  .value-total {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 94%;
    align-items: center;
  }

  .total{
    font-size: 18px;
  }
  
  .newItem {
    display: flex;
    gap: 10px;
    align-items: end;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .divDesc, .divType, .divAmount {
    display: flex;
    flex-direction: column;
  }
  
   #btnNew {
    margin-top: 15px;
    background-color: #2C73D2;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    color: #fff;
    padding: 8px 20px;
    width: 94%;
    transition: background-color .2s ease;
  }

  #btnNew:hover{
    background-color: #0247a0;
  }
  
  input, select {
    padding: 5px;
  }
  
  .divTable {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  table {
    width: 98%;
    padding: 20px 0;
    border-radius: 5px;
  }
  
  th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
  }
  
  i {
    font-size: 25px;
  }
  
  .bxs-chevron-up-circle {
    color: #00C9A7;
  }
  
  .bxs-chevron-down-circle {
    color: #D83121;
  }

  .bx-trash {
    cursor: pointer;
    color: black;
  }

  .bx-trash:hover{
    color: red;
  }
  
  .columnAction {
    width: 40px;
    text-align: center;
  }
  
  .columnAction > button {
    background: transparent;
    border: none;
  }
  
  .columnAmount {
    width: 30%;
  }
  
  .columnType {
    width: 80px;
    text-align: center;
  }